<span class="bslm-modal">
  <div class="bslm-modal-container">
    <div class="bslm-lock"><h4 id="lock">🔒</h4></div>
    <div id="inputtext-container" class="${ClassModules.InnerNoAutocomplete.inner} ${DiscordClassModules.Textarea.flex} ${DiscordClassModules.Textarea.innerNoAutocomplete} ${DiscordClassModules.BasicInputs.inputWrapper} ${ClassModules.SizeLarge.sizeLarge}">
    	  <textarea class="${DiscordClassModules.Textarea.textArea} ${ClassModules.Scrollbar.scrollbarGhostHairline}" id="modal-inputtext" placeholder="Message"></textarea>
    </div>
    <div class="${DiscordClassModules.Margins.marginTop4}" style="flex: 0 0 auto;">
      <h5 id="warning-message" class="${DiscordClassModules.Titles.h5 + DiscordClassModules.Titles.size12 + DiscordClassModules.Titles.height16 + DiscordClassModules.Titles.weightBold}"></h5>
      <h5 id="character-counter" class="${DiscordClassModules.Titles.h5 + DiscordClassModules.Titles.size12 + DiscordClassModules.Titles.height16 + DiscordClassModules.Titles.weightMedium}"></h5>
    </div>
  </div>
</span>
