.react-wrapper, .bslm-modal-container, .bslm-modal #inputtext-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: none !important;
  max-height: none;
  flex: 1 1 auto;
}

.bslm-modal textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100% !important;
  height: 100% !important;
  max-height: none !important;
  flex: 1 1 auto !important;
  resize: none;

}

.bslm-modal #lock {
  top: -2.3em;
  right: 1.6em;
  flex: 0 0 auto;
  position: absolute;
  margin: 0px;
  opacity: 0.25;
  visibility: hidden;
}

.bslm-modal #warning-message {
  color: #e00939;
  float: left;
  flex: 1 1 auto !important;
}

.bslm-modal #character-counter {
	float: right;
	color: white;
	opacity: 0.5;
  flex: 0 0 auto !important;
}

.message-note {
  bottom: -1.7em;
  position: absolute;
  stroke-opacity: 0.5;
  opacity: 0.5;

  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}

.message-note:hover {
  stroke-opacity: 1;
  opacity: 1;

  transform: scale(1.1);
}

.message-note button {
  background: transparent;
  padding: 0px;
}

.note-svg svg {
  padding: 2px;
  width: 16px !important;
  height: 16px !important;
}
